<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Browse the available courses on Athena!
      </h1>
    </div>
  </div>
</section>

<% if student_signed_in? || admin_signed_in? || teacher_signed_in? %>
<% @courses.each do |course| %>
<div class="box">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <p>Course Name: <%= course.name %></p>
        <p>Price: <%= course.price %></p>
        <%= link_to 'Show', course, class: 'button is-warning is-small' %>
        <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_course_path(course), class: 'button is-warning is-small' %>
          <%= link_to 'Delete', course, method: :delete, data: {confirm: "Are you sure?"}, class: 'button is-warning is-small' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>


<div class="container">
  <div class="columns is-centered">
    <% if admin_signed_in? %>
      <%= link_to 'New Course', new_course_path, class: 'button is-warning is-small' %>
    <% end %>
    <% if teacher_signed_in? %>
      <%= link_to 'Registered Courses', tregistration_path(current_teacher.id), class: 'button is-warning is-small' %>
      <br/>
      <p><%= link_to 'Student History', history_path(current_teacher.id), class: 'button is-warning is-small' %></p>
      <br/>
      <p><%= link_to 'Feedback', feedback_path(current_teacher.id), class: 'button is-warning is-small' %></p>
    <% end %>
    <% if student_signed_in? %>
      <p><%= link_to 'Registered Courses', sregistration_path(current_student.id), class: 'button is-warning is-small' %></p>
      <br/>
      <p><%= link_to 'Course History', history_path(current_student.id), class: 'button is-warning is-small' %></p>
      <br/>
      <p><%= link_to 'Feedback', feedback_path(current_student.id), class: 'button is-warning is-small' %></p>
    <% end %>
  </div>
</div>